.u-section-1 {
  background-image: linear-gradient(45deg, #478ac9, #2cccc4);
}

.u-section-1 .u-sheet-1 {
  min-height: 614px;
}

.u-section-1 .u-image-1 {
  width: 469px;
  height: 683px;
  margin: 26px auto 0 671px;
}

.u-section-1 .u-group-1 {
  width: 591px;
  min-height: 410px;
  animation-duration: 1000ms;
  margin: -607px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 97px 20px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 40px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 568px;
    height: 746px;
    margin-top: 0;
    margin-left: 471px;
  }

  .u-section-1 .u-group-1 {
    width: 506px;
    margin-top: -688px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-image-1 {
    width: 608px;
    height: 835px;
    margin-left: 251px;
  }

  .u-section-1 .u-group-1 {
    width: 437px;
    min-height: 416px;
    margin-top: -767px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 100px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-image-1 {
    height: 694px;
    width: 505px;
    margin-top: 391px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 313px;
    margin-top: -1037px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 30px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 92px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-1 .u-image-1 {
    width: 385px;
    height: 585px;
    margin-top: 386px;
    margin-left: -22px;
    margin-right: -22px;
  }

  .u-section-1 .u-group-1 {
    min-height: 357px;
    margin-top: -910px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 34px;
    margin-right: -8px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 554px;
}

.u-section-2 .u-group-1 {
  min-height: 554px;
  width: 570px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 40px 60px 0;
}

.u-section-2 .u-line-1 {
  width: 62px;
  height: 7px;
  transform-origin: left center 0;
  margin: 24px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 26px 60px 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 228px;
  margin: -554px 570px 326px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    min-height: 315px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 25px;
    margin-left: 61px;
    margin-right: 61px;
  }

  .u-section-2 .u-line-1 {
    width: 51px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 61px;
    margin-right: 61px;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    min-height: 525px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-top: 55px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-line-1 {
    width: 60px;
    margin-top: 43px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-top: 46px;
    margin-left: 68px;
    margin-right: 68px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 510px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-line-1 {
    width: 53px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 44px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    min-height: 646px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-line-1 {
    width: 54px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }
}