.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1161px;
}

.u-section-1 .u-image-1 {
  width: 524px;
  height: 349px;
  margin: 60px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 473px;
  min-height: 309px;
  margin: -336px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px 20px 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 52.8px;
  margin: 0;
}

.u-section-1 .u-image-2 {
  width: 819px;
  height: 514px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-2 {
  min-height: 312px;
  width: 483px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -189px 73px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -324px auto 134px 31px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 432px;
    height: 404px;
  }

  .u-section-1 .u-group-1 {
    width: 508px;
    min-height: 325px;
  }

  .u-section-1 .u-image-2 {
    width: 675px;
  }

  .u-section-1 .u-group-2 {
    min-height: 318px;
    width: 426px;
    margin-right: 45px;
  }

  .u-section-1 .u-shape-1 {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1582px;
  }

  .u-section-1 .u-image-1 {
    width: 594px;
    height: 435px;
  }

  .u-section-1 .u-group-1 {
    width: 686px;
    min-height: 239px;
  }

  .u-section-1 .u-image-2 {
    width: 638px;
    height: 546px;
  }

  .u-section-1 .u-group-2 {
    min-height: 373px;
    width: 458px;
    margin-top: -127px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1605px;
  }

  .u-section-1 .u-image-1 {
    width: 490px;
    height: 424px;
  }

  .u-section-1 .u-group-1 {
    width: 499px;
    min-height: 246px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 471px;
    height: 388px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -14px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-1 .u-shape-1 {
    width: 155px;
    height: 150px;
    margin-left: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1282px;
  }

  .u-section-1 .u-image-1 {
    height: 234px;
    width: 292px;
  }

  .u-section-1 .u-group-1 {
    min-height: 244px;
    margin-top: -213px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-image-2 {
    height: 239px;
    width: 292px;
  }

  .u-section-1 .u-group-2 {
    min-height: 344px;
    width: 303px;
    margin-top: 112px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-shape-1 {
    width: 140px;
    height: 135px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 713px;
}

.u-section-2 .u-group-1 {
  min-height: 507px;
  width: 1156px;
  margin: 60px -16px 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 23px 0 30px;
}

.u-section-2 .u-group-2 {
  width: 531px;
  min-height: 229px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  margin: 41px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 431px;
  margin: -197px 11px 0 545px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 713px;
}

.u-section-3 .u-group-1 {
  min-height: 507px;
  width: 1156px;
  margin: 60px -16px 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 23px 0 30px;
}

.u-section-3 .u-group-2 {
  width: 531px;
  min-height: 229px;
  margin: 20px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  margin: 41px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-custom-html-1 {
  min-height: 431px;
  margin: -197px 11px 0 545px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-left: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 {
  min-height: 475px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 498px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-custom-html-1 {
  min-height: 281px;
  background-image: none;
  height: auto;
  width: 450px;
  margin: 0 auto;
}

.u-section-4 .u-image-1 {
  min-height: 475px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/pexelsphoto3388799.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 50px;
}

.u-section-4 .u-text-1 {
  margin-top: 0;
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 336px;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 411px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 410px;
  }

  .u-section-4 .u-image-1 {
    min-height: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 184px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 300px;
  }

  .u-section-4 .u-image-1 {
    min-height: 300px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1498px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 450px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 944px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-4 .u-image-1 {
    min-height: 283px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-5 {
  min-height: 475px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 498px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-custom-html-1 {
  min-height: 438px;
  background-image: none;
  height: auto;
  margin: 0 0 0 25px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 475px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-top: 0;
  font-size: 2.25rem;
  font-weight: 700;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 336px;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 411px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 410px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 184px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 300px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1498px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 944px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 693px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 297px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin-top: 0;
  font-size: 2.25rem;
  font-weight: 700;
  margin-left: 0;
  margin-right: 0;
}

.u-section-6 .u-image-1 {
  min-height: 297px;
  background-image: url("images/pexels-photo-950754.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  min-height: 297px;
  background-image: url("images/pexels-photo-2438208.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  min-height: 297px;
  background-image: url("images/pexels-photo-4107897.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  min-height: 297px;
  background-image: url("images/pexels-photo-6171394.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  min-height: 297px;
  background-image: url("images/pexels-photo-6012257.jpeg");
  background-position: 50% 1.28%;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-image-6 {
  min-height: 297px;
  background-image: url("images/pexels-photo-2438212.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-8 {
  min-height: 297px;
  background-image: none;
}

.u-section-6 .u-container-layout-8 {
  padding: 20px;
}

.u-section-6 .u-icon-1 {
  height: 48px;
  width: 48px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  width: 196px;
  margin: 20px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-6 .u-image-1 {
    min-height: 245px;
  }

  .u-section-6 .u-image-2 {
    min-height: 245px;
  }

  .u-section-6 .u-image-3 {
    min-height: 245px;
  }

  .u-section-6 .u-image-4 {
    min-height: 245px;
  }

  .u-section-6 .u-image-5 {
    min-height: 245px;
  }

  .u-section-6 .u-image-6 {
    min-height: 245px;
  }

  .u-section-6 .u-layout-cell-8 {
    min-height: 245px;
  }

  .u-section-6 .u-text-2 {
    width: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1599px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 375px;
  }

  .u-section-6 .u-image-2 {
    min-height: 375px;
  }

  .u-section-6 .u-image-3 {
    min-height: 375px;
  }

  .u-section-6 .u-image-4 {
    min-height: 375px;
  }

  .u-section-6 .u-image-5 {
    min-height: 375px;
  }

  .u-section-6 .u-image-6 {
    min-height: 375px;
  }

  .u-section-6 .u-layout-cell-8 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3477px;
  }

  .u-section-6 .u-image-1 {
    min-height: 563px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 563px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    min-height: 563px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    min-height: 563px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    min-height: 563px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-6 {
    min-height: 563px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-8 {
    padding: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2223px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 354px;
  }

  .u-section-6 .u-image-2 {
    min-height: 354px;
  }

  .u-section-6 .u-image-3 {
    min-height: 354px;
  }

  .u-section-6 .u-image-4 {
    min-height: 354px;
  }

  .u-section-6 .u-image-5 {
    min-height: 354px;
  }

  .u-section-6 .u-image-6 {
    min-height: 354px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 618px;
}

.u-section-7 .u-text-1 {
  letter-spacing: normal;
  line-height: 43.2px;
  text-transform: none;
  font-weight: 700;
  margin: 60px 489px 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 367px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-7 .u-text-2 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

.u-section-7 .u-line-1 {
  height: 10px;
  transform-origin: left center;
  width: 352px;
  margin: 20px 0 0 -2px;
}

.u-section-7 .u-text-3 {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 367px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-4 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 106px 0 0;
}

.u-section-7 .u-text-5 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 367px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-6 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.8;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 7px 34px 8px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 289px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-7 .u-line-1 {
    width: 283px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 39px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 69px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-line-1 {
    width: 210px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-3 {
    font-size: 1.125rem;
  }
}.u-section-8 {
  background-image: url("images/pexels-photo-6146810.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 788px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 337px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 240px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 240px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 198px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 724px;
}

.u-section-9 .u-text-1 {
  font-family: "Roboto Condensed", sans-serif;
  margin: 70px 408px 0 0;
}

.u-section-9 .u-list-1 {
  width: 1140px;
  min-height: 375px;
  grid-auto-rows: 100%;
  margin: 50px auto 70px 0;
}

.u-section-9 .u-repeater-1 {
  grid-auto-columns: calc(50% - 25px);
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  grid-auto-rows: calc(33.33% - 33.3333px);
  grid-gap: 50px 50px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px;
}

.u-section-9 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: -48px 20px 0 70px;
}

.u-section-9 .u-list-item-2 {
  background-size: auto;
}

.u-section-9 .u-container-layout-2 {
  padding: 20px;
}

.u-section-9 .u-icon-2 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-3 {
  margin: -48px 20px 0 70px;
}

.u-section-9 .u-list-item-3 {
  background-size: auto;
}

.u-section-9 .u-container-layout-3 {
  padding: 20px;
}

.u-section-9 .u-icon-3 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-4 {
  margin: -48px 20px 0 70px;
}

.u-section-9 .u-list-item-4 {
  background-size: auto;
}

.u-section-9 .u-container-layout-4 {
  padding: 20px;
}

.u-section-9 .u-icon-4 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-5 {
  margin: -48px 20px 0 70px;
}

.u-section-9 .u-list-item-5 {
  background-size: auto;
}

.u-section-9 .u-container-layout-5 {
  padding: 20px;
}

.u-section-9 .u-icon-5 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-6 {
  margin: -48px 20px 0 70px;
}

.u-section-9 .u-list-item-6 {
  background-size: auto;
}

.u-section-9 .u-container-layout-6 {
  padding: 20px;
}

.u-section-9 .u-icon-6 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-7 {
  margin: -48px 20px 0 70px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 208px;
  }

  .u-section-9 .u-list-1 {
    width: 901px;
    min-height: 645px;
    height: auto;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 25px));
    grid-auto-rows: calc(33.33% - 33.333333333333336px);
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-right: 1px;
    margin-left: 78px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-right: 1px;
    margin-left: 78px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-right: 1px;
    margin-left: 78px;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-right: 1px;
    margin-left: 78px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-right: 1px;
    margin-left: 78px;
  }

  .u-section-9 .u-text-7 {
    width: auto;
    margin-right: 1px;
    margin-left: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9 .u-list-1 {
    width: 720px;
    min-height: 375px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    grid-auto-rows: calc(33.33% - 33.3333px);
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    margin-right: 0;
  }

  .u-section-9 .u-text-5 {
    margin-right: 0;
  }

  .u-section-9 .u-text-6 {
    margin-right: 0;
  }

  .u-section-9 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-list-1 {
    width: 540px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    grid-auto-rows: calc(16.66% - 41.6667px);
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 9px;
    margin-left: 98px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 9px;
    margin-left: 98px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 9px;
    margin-left: 98px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 9px;
    margin-left: 98px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-6 {
    margin-right: 9px;
    margin-left: 98px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-7 {
    margin-right: 9px;
    margin-left: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-list-1 {
    width: 340px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
    margin-left: 77px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
    margin-left: 77px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 0;
    margin-left: 77px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 0;
    margin-left: 77px;
  }

  .u-section-9 .u-text-6 {
    margin-right: 0;
    margin-left: 77px;
  }

  .u-section-9 .u-text-7 {
    margin-right: 0;
    margin-left: 77px;
  }
}.u-section-10 {
  background-image: none;
  min-height: 1184px;
}

.u-section-10 .u-shape-1 {
  height: 192px;
  margin-top: 563px;
  margin-bottom: 0;
}

.u-section-10 .u-layout-wrap-1 {
  width: 931px;
  margin: -696px auto 60px calc(((100% - 1140px) / 2) + 105px);
}

.u-section-10 .u-layout-cell-1 {
  min-height: 471px;
}

.u-section-10 .u-container-layout-1 {
  padding: 60px 30px 30px;
}

.u-section-10 .u-image-1 {
  height: 404px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 485px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-image-2 {
  width: 267px;
  height: 387px;
  object-position: 35.4% 50%;
  margin: 0 auto 0 0;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 296px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 30px 30px 0;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  margin: 1px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 19px 2px 0 0;
}

.u-section-10 .u-btn-1 {
  align-self: center;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

.u-section-10 .u-text-3 {
  letter-spacing: 0px;
  font-size: 1rem;
  text-transform: none;
  margin: 20px -1px 0 0;
}

.u-section-10 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

.u-section-10 .u-image-3 {
  min-height: 422px;
  background-image: url("images/90e1fe06-353a-1228-455f-8feef18a149a.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px 30px 30px 0;
}

.u-section-10 .u-layout-cell-5 {
  min-height: 336px;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px 30px 30px 0;
}

.u-section-10 .u-image-4 {
  margin-top: 0;
  margin-bottom: 0;
  height: 276px;
}

.u-section-10 .u-layout-cell-6 {
  min-height: 230px;
}

.u-section-10 .u-container-layout-6 {
  padding: 30px;
}

.u-section-10 .u-text-4 {
  font-weight: 700;
  margin: 11px 1px 0;
}

.u-section-10 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 19px auto 0 0;
}

.u-section-10 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 11px auto 0;
}

.u-section-10 .u-icon-1 {
  height: 100%;
}

.u-section-10 .u-icon-2 {
  height: 100%;
}

.u-section-10 .u-icon-3 {
  height: 100%;
}

.u-section-10 .u-icon-4 {
  height: 100%;
}

.u-section-10 .u-line-2 {
  height: 3px;
  transform-origin: left center;
  margin: 11px auto 0 0;
}

.u-section-10 .u-text-5 {
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-layout-wrap-1 {
    margin-left: calc(((100% - 940px) / 2) + 9px);
  }

  .u-section-10 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-10 {
    min-height: 1064px;
  }

  .u-section-10 .u-shape-1 {
    margin-top: 60px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -582px;
    margin-left: auto;
    margin-bottom: -330px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-10 .u-image-1 {
    height: 293px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-10 .u-image-2 {
    width: 204px;
    height: 296px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
  }

  .u-section-10 .u-image-3 {
    min-height: 326px;
  }

  .u-section-10 .u-layout-cell-5 {
    min-height: 260px;
  }

  .u-section-10 .u-image-4 {
    height: 207px;
  }

  .u-section-10 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-social-icons-1 {
    height: 29px;
    width: 145px;
  }

  .u-section-10 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 {
    min-height: 3019px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 745px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-1 {
    height: 747px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 554px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-2 {
    width: 408px;
    height: 494px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-10 .u-image-3 {
    min-height: 386px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-5 {
    min-height: 543px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-10 .u-image-4 {
    height: 480px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-social-icons-1 {
    width: 147px;
  }
}

@media (max-width: 575px) {
  .u-section-10 {
    min-height: 2270px;
  }

  .u-section-10 .u-shape-1 {
    margin-top: 138px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -252px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 469px;
  }

  .u-section-10 .u-image-1 {
    height: 460px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-10 .u-image-2 {
    width: 320px;
    height: 388px;
  }

  .u-section-10 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-10 .u-image-3 {
    min-height: 243px;
  }

  .u-section-10 .u-layout-cell-5 {
    min-height: 342px;
  }

  .u-section-10 .u-image-4 {
    height: 302px;
  }
}.u-section-11 {
  min-height: 651px;
}

.u-section-11 .u-sheet-1 {
  min-height: 790px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 651px;
  }
}

@media (max-width: 991px) {
  .u-section-11 {
    min-height: 499px;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 499px;
  }
}

@media (max-width: 767px) {
  .u-section-11 {
    min-height: 1498px;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 1498px;
  }
}

@media (max-width: 575px) {
  .u-section-11 {
    min-height: 944px;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 944px;
  }
}